<section class="home-newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="single">
					<form action="" method="post">
						<input type="hidden" name="_csrf" value="c443b69c464721f267207251aca6de40">
						<h2>Subscribe To Our Newsletter</h2>
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Enter Your Email Address"
								name="email_subscribe">
							<span class="input-group-btn">
								<button class="btn btn-theme" type="submit" name="form_subscribe">Subscribe</button>
							</span>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</section>